---
import Layout from "@/layouts/Layout.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout title={`Alan Bardales`}>
  <main>
    <h3>Use ctrl + k to open the keyboard manager</h3>
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
